<table class="table table-hover">
    <thead class="text-warning">
        <tr>
            {% for field in fields %}
                <th><strong>{{ field.label|raw }}</strong></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        {% set rowLinkAttr = '' %}
        {% if rowLink is not null %}
            {% set paramsArr = [] %}
            {% for param, value in rowLink.params %}
                {% set paramsArr = paramsArr|merge({(param): row[value]}) %}
            {% endfor %}
            {% set rowLinkAttr = "style='cursor: pointer' onclick='window.location.assign(\"" ~ path(rowLink.path, paramsArr) ~ "\")'" %}
        {% endif %}
        <tr {{ rowLinkAttr|raw }}>
            {% for key, field in fields %}
                <td class="field-{{ key|lower }}">{{ field.format.call(field, row, key)|raw }}</td>
            {% endfor %}
        </tr>
    {% else %}
        <tr>
            <td colspan="{{ fields|length }}" style="text-align: center">No data found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
